@model Post

@{
    ViewData["Title"] = "Post details";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";

    const string ddResponsive = "offset-sm-2 col-sm-8 offset-md-1 col-md-9 offset-lg-0 col-lg-10";
}

<div class="container">

    <!-- Page Header and Edit/Delete Buttons -->
    <div class="row pb-2">

        <!-- Empty column (for layout purposes) -->
        <div class="col-md"></div>

        <!-- Page Header -->
        <div class="col-sm col-md">
            <h1 class="display-4 text-md-center">Post</h1>
        </div>

        <!-- Edit / Delete Buttons -->
        <div class="col-sm col-md my-auto">
            <div class="d-flex justify-content-md-end">

                <!-- Edit post -->
                <a asp-controller="AdminPost" asp-action="EditPost" asp-route-id=@Model.PostId class="btn btn-lg btn-outline-dark">Edit</a>

                <!-- Delete post -->
                <a data-bs-toggle="modal" data-bs-target=@($"#_DeletePostConfirmationModal-{Model.PostId}") class="btn btn-lg btn-outline-dark ms-3">Delete</a>

                <!-- Delete post confirmation modal -->
                <!-- IMPORTANT!!!: "id" attribute of the partial modal ...
                ... must match the value of the "data-bs-target" attribute -->
                <partial name="_DeletePostConfirmationModal" model=@Model.PostId />

            </div>
        </div>

    </div>

    <!-- Horizontal Line -->
    <div class="row pb-4">
        <hr />
    </div>

    <!-- Post Details -->
    <div class="row mb-3">

        <!-- ID -->
        <dl class="row mb-0">
            <dt class="col-2">Id</dt>
            <dd class="@ddResponsive">@Model.PostId</dd>
        </dl>

        <!-- Header -->
        <dl class="row mb-0">
            <dt class="col-2">Header</dt>
            <dd class="@ddResponsive">@Model.Header</dd>
        </dl>

        <!-- Content -->
        <dl class="row mb-0">
            <dt class="col-2">Content</dt>
            <dd class="@ddResponsive">
                <markdown>@Model.Content</markdown>
            </dd>
        </dl>

        <hr class="mt-2" />

        <!-- Published Date -->
        <dl class="row mb-0">
            <dt class="col-2">Published at</dt>
            <dd class="@ddResponsive">@Model.PublishedAt</dd>
        </dl>

        <!-- Updated Date -->
        <dl class="row mb-0">
            <dt class="col-2">Updated at</dt>
            <dd class="@ddResponsive">@Model.UpdatedAt</dd>
        </dl>

        <!-- Created Date -->
        <dl class="row mb-0">
            <dt class="col-2">Created at</dt>
            <dd class="@ddResponsive">@Model.CreatedAt</dd>
        </dl>

        <!-- Is Post Visible -->
        <dl class="row mb-0">
            <dt class="col-2">Publicly visible</dt>
            <dd class="@ddResponsive">@Model.IsVisible</dd>
        </dl>

        <hr class="mt-2" />

        <!-- Visits Count -->
        <dl class="row mb-0">
            <dt class="col-2">Number of visits</dt>
            <dd class="@ddResponsive">@Model.ViewsCount</dd>
        </dl>

        <!-- Comments Count -->
        <dl class="row mb-0">
            <dt class="col-2">Number of comments</dt>
            <dd class="@ddResponsive">@Model.Comments.Count</dd>
        </dl>

        <hr class="mt-2" />

        <!-- Author -->
        <dl class="row mb-0">
            <dt class="col-2">Author</dt>
            <dd class="@ddResponsive">@Model?.Author?.Email</dd>
        </dl>

        <hr class="mt-2" />

        <!-- Categories -->
        <dl class="row mb-0">
            <dt class="col-2">Categories</dt>
            <dd class="@ddResponsive">
                <ul class="list-unstyled">
                    @foreach (var category in Model.Categories)
                    {
                        <li>@category.Name</li>
                    }
                </ul>
            </dd>
        </dl>

        <hr class="mt-2" />

        <!-- Tags -->
        <dl class="row mb-0">
            <dt class="col-2">Tags</dt>
            <dd class="@ddResponsive">
                <ul class="list-unstyled">
                    @foreach (var tag in Model.Tags)
                    {
                        <li>@tag.Name</li>
                    }
                </ul>
            </dd>
        </dl>
        <hr class="mt-2" />
    </div>

    <!-- Back to List button -->
    <a type="button" asp-controller="AdminPost" asp-action="ListPosts" class="btn btn-outline-dark">Go back to List</a>

</div>
