@model AdminPostViewModel[]

@{
    ViewData["Title"] = "Posts";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- Page header and button -->
    <div class="row pb-2">

        <!-- Empty column (for layout purposes) -->
        <div class="col"></div>

        <!-- Page header -->
        <div class="col">
            <h1 class="display-4 text-center">Posts</h1>
        </div>

        <!-- Add post button -->
        <div class="col my-auto">
            <a type="button" asp-controller="Admin" asp-action="AddPost" class="btn btn-lg btn-primary float-end">
                Create new
            </a>
        </div>
    </div>

    <!-- Horizontal line -->
    <div class="row pb-4">
        <hr />
    </div>

    <!-- Table of posts -->
    <div class="row">
        <table class="table table-light table-striped table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Header</th>
                    <th>Published at</th>
                    <th>Updated at</th>
                    <th>Created at</th>
                    <th>Visits</th>
                    <th>Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {
                    <tr onclick="showPostDetails('Admin', 'PostDetails', @post.Id)">
                        <td>@post.Header</td>
                        <td>@post.PublishedAt</td>
                        <td>@post.UpdatedAt</td>
                        <td>@post.CreatedAt</td>
                        <td>@post.ViewsCount</td>
                        <td>
                            <!-- It is important to stop propagation of the "onclick" event so that it is not bubbled to a table row -->
                            <div class="d-flex" onclick="event.stopPropagation()">

                                <!-- Edit post -->
                                <a asp-controller="Admin" asp-action="EditPost" asp-route-id="@post.Id">
                                    <i class="fa fa-edit text-dark me-5"></i>
                                </a>

                                <!-- Delete post -->
                                <a data-bs-toggle="modal" data-bs-target=@($"#_DeletePostConfirmationModal-{post.Id}")>
                                    <i class="fa fa-trash-alt text-dark"></i>
                                </a>

                                <!-- Delete post confirmation modal -->
                                <!-- IMPORTANT!!!: "id" attribute of the partial modal ...
                                ... must match the value of the "data-bs-target" attribute -->
                                <partial name="_DeletePostConfirmationModal" model=@post.Id />

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

