@model AdminPostViewModel[]

@{
    ViewData["Title"] = "Wpisy";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- Page header and button -->
    <div class="row pb-2">

        <!-- Empty column (for layout purposes) -->
        <div class="col"></div>

        <!-- Page header -->
        <div class="col">
            <h1 class="display-4 text-center">Wpisy</h1>
        </div>

        <!-- Add post button -->
        <div class="col my-auto">
            <a type="button" asp-controller="Admin" asp-action="AddPost" class="btn btn-lg btn-primary float-end">
                Dodaj
            </a>
        </div>
    </div>

    <!-- Horizontal line -->
    <div class="row pb-4">
        <hr />
    </div>

    <!-- Table of posts -->
    <div class="row">
        <table class="table table-light table-striped table-hover">
            <thead>
                <tr class="table-dark">
                    <th>Tytuł</th>
                    <th>Data publikacji</th>
                    <th>Data aktualizacji</th>
                    <th>Data utworzenia</th>
                    <th>Wizyty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
                {
                    <tr onclick="showPostDetails('Admin', 'PostDetails', @post.Id)">
                        <td>@post.Header</td>
                        <td>@post.PublishedAt</td>
                        <td>@post.UpdatedAt</td>
                        <td>@post.CreatedAt</td>
                        <td>@post.ViewsCount</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
