@model PaginatedList<Post>

@{
    const int PostExcerptMaxLength = 350;
    string GetPostExcerpt(string postContent)
    {
        return postContent.Length > PostExcerptMaxLength
            ? postContent.Substring(0, PostExcerptMaxLength - 1) + " ..."
            : postContent;
    }
}

<!-- Page of Posts -->
@foreach (var post in Model)
{
    <div class="card mb-5 shadow-sm">
        <div class="card-header bg-dark text-light">
            <div class="d-flex my-auto">
                <div>@post.Header</div>
                <div class="ms-auto"><i>@post.PublishedAt</i></div>
            </div>
        </div>
        <div class="card-body">
            <markdown>@GetPostExcerpt(post.Content)</markdown>
            <a type="button" asp-action="Post" asp-route-postId="@post.PostId" class="btn btn-outline-dark">Show post ...</a>
        </div>
    </div>
}

<!-- Page Navigation -->
@if (Model.TotalPages > 1)
{
    <div class="d-flex">

        <!-- Previous Page button -->
        <a type="button" asp-route-pageNumber="@(Model.PageNumber - 1)" class="btn btn-outline-dark me-3 @(Model.HasPreviousPage ? "" : "disabled")">
            Newer posts ...
        </a>

        <!-- Next Page button -->
        <a type="button" asp-route-pageNumber="@(Model.PageNumber + 1)" class="btn btn-outline-dark @(Model.HasNextPage ? "" : "disabled")">
            Older posts ...
        </a>

        <!-- Current Page info-->
        <small class="ms-auto my-auto"><i>Page @Model.PageNumber of @Model.TotalPages</i></small>
    </div>
}
